<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.mapper.SysUserMapper">
    <update id="update">
        update sys_user set
            username=#{userName},
            name=#{name},phone=#{phone},
            avatar=#{avatar},
            description=#{description}
        where id = #{id}
    </update>
    <delete id="deleteById">
        update sys_user set is_deleted = 1 where id = #{id}
    </delete>
    <!--根据用户名查找用户-->
    <select id="findByUsername" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select * from sys_user where username = #{userName}
    </select>
    <!--  添加用户  -->
    <insert id="insert">
        insert into sys_user(
        username,
        password,
        name,
        phone,
        avatar,
        description)values(
        #{userName},
        #{password},
        #{name},
        #{phone},
        #{avatar},
        #{description});
    </insert>

    <select id="selectByUserName" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select * from sys_user where username=#{userName} and is_deleted=0
    </select>
    <!--分页查询-->
    <select id="selectByPage" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="keyword!=null and keyword!= ''">
                AND ( username LIKE CONCAT('%',#{keyword},'%') OR
                NAME LIKE CONCAT('%',#{keyword},'%') OR
                phone LIKE CONCAT('%',#{keyword},'%') )
            </if>
            <if test="createTimeBegin!=null and createTimeBegin!=''">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd!=null and createTimeEnd!=''">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            AND is_deleted=0
        </where>
        ORDER BY id DESC
    </select>
</mapper>