<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.product.mapper.BrandMapper">


    <!--查询所有品牌-->
    <select id="selectAll" resultType="com.atguigu.spzx.model.entity.product.Brand">
        SELECT * FROM brand WHERE is_deleted=0
    </select>
</mapper>
