<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.mapper.OrderInfoMapper">

    <!--统计订单数据-总金额、订单数量-->
    <select id="selectOrderTotalAmount" resultType="com.atguigu.spzx.model.entity.order.OrderStatistics">
        SELECT DATE_FORMAT(create_time, '%Y-%m-%d') AS orderDate,
               SUM(total_amount)  AS totalAmount,
               COUNT(*)  AS totalNum
        FROM order_info
        WHERE DATE_FORMAT(create_time, '%Y-%m-%d') = #{date}
          AND is_deleted = 0
        GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>
</mapper>
