<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.user.controller.mapper.UserInfoMapper">
    <!--添加用户-->
    <insert id="insert">
        INSERT INTO user_info(username, phone, password, nick_name)
        VALUES (#{username}, #{phone}, #{password}, #{nickName})
    </insert>

    <!--根据username查询用户-->
    <select id="selectByUsername" resultType="com.atguigu.spzx.model.entity.user.UserInfo">
        SELECT * FROM user_info WHERE username=#{username} AND is_deleted=0
    </select>
</mapper>
